@"
WSS_RPC_URL=wss://base-mainnet.g.alchemy.com/v2/TU_API_KEY
HTTP_RPC_URL=https://base-mainnet.g.alchemy.com/v2/TU_API_KEY
PRIVATE_KEY=tu_clave_privada_sin_0x
SNIPER_ADDRESS=
SIMULATION_MODE=true
AMOUNT_ETH_PER_TRADE=0.005
TP_PERCENTAGE=40
SL_PERCENTAGE=15
BREAK_EVEN_TRIGGER=15
TRAILING_STOP_PERCENT=10
MIN_SWAPS_30S=3
MIN_SWAPS_120S=6
MIN_BUY_SELL_RATIO=2.0
MIN_UNIQUE_TRADERS_60S=3
MIN_LIQUIDITY_USD=5000
MAX_LIQUIDITY_USD=500000
MAX_TOKEN_AGE_HOURS=24
MIN_POOL_AGE_MINUTES=3
MAX_LP_CONCENTRATION=0.80
POSTBUY_MONITORING_ENABLED=true
POSTBUY_INITIAL_SIZE_PCT=25
POSTBUY_WINDOW_SECONDS=20
CALLSTATIC_ENABLED=true
GAS_COST_BUY_ETH=0.00001
GAS_COST_SELL_ETH=0.00001
